.date{
    font-style: italic;
    font-family: Helvetica;
    font-weight: bold;

}
#dropdownMenu1{



}
.dropdown-menu{

}
#nowplaying{
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 15px 95px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.btns{
    height:40px;
    width:67px;
}
#p5{
    text-align: center;
    text-blink: true;

    font-weight: 600;
    font-family: "Helvetica Neue";

}