.img{
    border-image-width: auto;
    width: 300px;
    height: 300px;
}
#sides{
    margin:0;
}
#left{
    float:left;
    width:50%;
    overflow:hidden;
}
#right{
    float:left;
    width:50%;
    overflow:hidden;
}