<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>Simple Angular app</title>

        <!---->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="main.js"></script>

    </head>
    <body>


    <div ng-app="myApp" ng-controller="myCtrl">
            <p>Please type the user name to see his or her GitHub information</p>
            <br/>
            <input  ng-model="username" type="text"/>
            <input type="button" value="Bring!" ng-click="myFunc(username)">
            <br/>
            <br/>
            <p><strong>Login :</strong>         {{Login}}</p>
            <p><strong>User ID:</strong>        {{UserID}}</p>
            <p><strong>Location:</strong>       {{Location}}</p>
            <p><strong>E-mail:</strong>         {{(Email==null)?"There is no e-mail":Email}}</p>
            <p><strong>Company:</strong>        {{Company}}</p>
            <p><strong>Created At:</strong>     {{CreatedAt}}</p>

            <p><strong>Profile Photo</strong> </p>
            <img ng-src="{{ProfilePhoto}}">


        </div>
    </body>
</html>


